.content_img {
    height: 150px
}

.item {
    color: green;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*padding: 30px 0 0 30px;*/
}

.mainPhoto {
    max-width: 300px;
    border-radius: 20px;
}

.contact {
    margin: 5px 0 0 10px;
}

.profileData {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*padding: 10px;*/
}

.profileDataItem {
    margin: 5px 0px;
}



.editMode {
    width: 300px;
    background: rgba(0, 0, 0, 0);
    max-width: 300px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}
.editImg {
    width: 15px;
    margin-left: 5px;
}

.formSummaryError {
    border: 2px red solid;
    padding: 5px;
    color: red;
    text-align: center;
    width: 300px;
    box-sizing: border-box;
    margin: 10px 0px;
}

.userInfo {
    display: flex;
    gap: 20px;
}